In [2]:
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

Cleaning up the data from the 2015 CSV file, getting rid of the columns that are either mostly empty or that do not contain information relevant to the analysis.

In [3]:
data = pd.read_csv('../original_data/2015_data.csv')

/var/folders/f1/1727nmns4pn3qwy09yz08x2r0000gn/T/ipykernel_5889/240594107.py:1: DtypeWarning: Columns (40,41,42,43,61,62,63,64) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('../original_data/2015_data.csv')

In [4]:
columns_to_drop = ['resident_status', 'education_1989_revision', 'education_reporting_flag', 'detail_age_type','age_substitution_flag','age_recode_52','age_recode_27','age_recode_12','infant_age_recode_22', 'day_of_week_of_death', 'current_data_year', 'place_of_injury_for_causes_w00_y34_except_y06_and_y07_', 'icd_code_10th_revision', 'activity_code', '130_infant_cause_recode', 'number_of_entity_axis_conditions','entity_condition_1','entity_condition_2','entity_condition_3','entity_condition_4','entity_condition_5','entity_condition_6','entity_condition_7','entity_condition_8','entity_condition_9','entity_condition_10','entity_condition_11','entity_condition_12','entity_condition_13','entity_condition_14','entity_condition_15','entity_condition_16','entity_condition_17','entity_condition_18','entity_condition_19','entity_condition_20','number_of_record_axis_conditions','record_condition_1','record_condition_2','record_condition_3','record_condition_4','record_condition_5','record_condition_6','record_condition_7','record_condition_8','record_condition_9','record_condition_10','record_condition_11','record_condition_12','record_condition_13','record_condition_14','record_condition_15','record_condition_16','record_condition_17','record_condition_18','record_condition_19','record_condition_20','bridged_race_flag', 'race_imputation_flag']  # List of column names to drop
data = data.drop(columns=columns_to_drop)

In [5]:
data.head()

,education_2003_revision,month_of_death,sex,detail_age,place_of_death_and_decedents_status,marital_status,injury_at_work,manner_of_death,method_of_disposition,autopsy,358_cause_recode,113_cause_recode,39_cause_recode,race,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
0,3.0,1,M,84,1,M,U,7.0,B,N,230,67,22,1,1,1,100,6
1,6.0,1,M,70,1,M,U,7.0,C,N,93,27,8,1,1,1,100,6
2,3.0,1,F,91,4,W,U,7.0,C,N,189,52,17,1,1,1,100,6
3,3.0,1,F,40,4,S,N,3.0,B,Y,434,129,41,3,2,3,100,8
4,5.0,1,F,89,6,W,U,7.0,C,N,214,62,21,1,1,1,100,6

In [6]:
data.to_csv('../cleaned_data/2015_data.csv', index=False)